
/*...............................................................
......########..######..########.....###....##....##..######......
......##.......##....##.##.....##...##.##...###...##.##....##.....
......##.......##.......##.....##..##...##..####..##.##...........
......######...##.......########..##.....##.##.##.##..######......
......##.......##.......##...##...#########.##..####.......##.....
......##.......##....##.##....##..##.....##.##...###.##....##.....
......########..######..##.....##.##.....##.##....##..######......
...............................................................*/
/* Applicable pour tous écrans*/

@media all{


  .zau{
    display: block;
    margin:auto;
  }


  /*popup*/

  .mon_popup_zau {
      position: absolute;
      display: none;
      width: auto;
      height: auto;
      background: none repeat scroll 0 0 white;
      border: 0 none;
      border-radius: 8px 8px 8px 8px;
      box-shadow: 2.5px 3px 5px #343534;
      color: black;
      font: 12px sans-serif;
      padding: 5px;
      text-align: center;
      pointer-events: none;
      font-family: latomedium;
      font-size: 0.9em;
  }


  .mon_popup_zau>div{
      text-align: center;
  }

  .mon_popup_zau>div:first-child{
    font-family: latosemibold;
    font-size:1.05em;
  }


  .mon_popup_zau>div:nth-child(2){
    font-family: latosemibold;
    font-size: 1em;
    color:#666666;
  }

  .mon_popup_zau>div:last-child{
    font-family: latosemibold;
    font-size: 1em;
  }



  /*Bouton tri zau */

  #mon_bouton_zau{
    display: flex;
    height: 25px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20%;
  }

  .bouton{
    text-decoration: none;
    text-align: center;
    height: 25px;
    font-family: latomedium;
    font-size: 1em;
    color: #fff;
    border: none;
    border-radius: 10%;
    box-shadow: 2.5px 3px 5px #343534;
    cursor: pointer;
  }

  #boutonzau0{
    background-color: #666666;
    margin-right: 1%;
  }

  #boutonzau1{
    margin-left:1%;
  }



}
/*...............................................................
.......########..##.....##.########..########....###....##.....##.....
.......##.....##.##.....##.##.....##.##.........##.##...##.....##.....
.......##.....##.##.....##.##.....##.##........##...##..##.....##.....
.......########..##.....##.########..######...##.....##.##.....##.....
.......##.....##.##.....##.##...##...##.......#########.##.....##.....
.......##.....##.##.....##.##....##..##.......##.....##.##.....##.....
.......########...#######..##.....##.########.##.....##..#######......
...............................................................*/
/* Si supérieur à 440px, appliquer le style suivant */
/* Pour les écrans d'ordinateur*/


@media only screen and (min-width:960px){


}

/*...............................................................
......##.....##..#######..########..####.##.......########.....
......###...###.##.....##.##.....##..##..##.......##...........
......####.####.##.....##.##.....##..##..##.......##...........
......##.###.##.##.....##.########...##..##.......######.......
......##.....##.##.....##.##.....##..##..##.......##...........
......##.....##.##.....##.##.....##..##..##.......##...........
......##.....##..#######..########..####.########.########.....
...............................................................*/
/* Si inférieur à 440px, appliquer le style suivant */
/* Pour les smartphones en mode portrait*/


@media only screen and (max-width:960px){


}
